@charset "UTF-8";
@import "_basic.scss";
@import "_valiable.scss";
@import "login.scss";
@import "register.scss";
@import "language.scss";
@import "user.scss";

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: $link-a;
}
.td-action-control{
     width: 10%;
}
.admin-table{
     border: 1px solid green;
}
.btn-action {
  margin: 0px auto;
  text-align: center;
}
#Breadcrumb {
  // margin-top: 4%;
}
.breadcrumb-loading {
  margin-top: 53px;
}
.back-form{
  border-radius: 20px;
  background-color: white;
  padding: 3% 0px;
}
